:root {
  --primary: #da2f04;
  --secondary: #33670a;

  --border: #ddd;

  --background: #f4f4f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  text-align: center;

  background: var(--background);
}

h1,
h2,
h3 {
  font-weight: 600;
}

h1 {
  margin: 0 0 1.5rem 0;

  color: var(--primary);
  font-size: 2rem;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 1024px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem 32px;
}

p.no-js {
  font-size: 1.5rem;
  font-weight: 400;
}

.card {
  width: 320px;
  margin: 0.5rem 8px;
  padding: 1.5rem 24px;
  border: 2px solid var(--border);
  border-radius: 16px;

  text-align: left;

  background: white;
}

.card h2 {
  margin: 0 0 1rem 0;

  color: var(--secondary);
}

.card h3 {
  margin: 0 0 0.75rem 0;
}

.card .price {
  margin: 1rem 0 0 0;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: right;
}
